.site-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  box-sizing: border-box;
}

.site-container-default {
  max-width: var(--container-max-width); /* 1360px */
}

.site-container-narrow {
  max-width: var(--container-narrow-max-width); /* 860px */
}

.site-container-wide {
  max-width: var(--container-wide-max-width); /* 1440px */
}

.site-container-fluid {
  max-width: 100%;
}
